

body{
    background-color: rgba(94, 94, 94, 0.205);
}

header nav .heading{
    font-size: 1.5rem;
    
}




/*Main----------------------------*/

.main{
    margin-top:60px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 1300px;
    padding: 10px;
}

.flexbox {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    
}

.box{
    background-color: white;
    width: 800px;
    margin: 10px;
    padding: 20px;
}

.box h2{
    font-size: 1.5rem;
    font-weight: bold;
    white-space: wrap;
}

.main .deadlineManagement{
    height: fit-content;
}

.main .statistics{
    height: fit-content;
}

.heading{
    margin: auto;
    align-self: flex-start;
    flex-wrap: wrap;
    height: fit-content;
}



/* Containers---------------------------- */

/* Account Management------------------------------ */
.main .accountManagement{
    height: 565px;
}

.main .accountManagement .createAccount{
   align-self: flex-start;
    display: block;
    background-color: var(--MainColour);
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1rem;
}

.accounts{
    width: 100%;
    flex-grow: 3;
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: 3px;
    overflow-wrap: break-word;
}


.main .accountManagement .createAccount:hover{
    background-color: var(--MainColourHover);
}


.main .accountManagement .accountContainer{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content:space-between;
    gap: 10px;
}


.accounts table{
    width: 100%;
    font-size: 1.2rem;
    border-collapse: collapse;
    margin: 10px 0;
    border-bottom: 2px solid var(--MainColour);
    background-color: white;
}


.accounts table thead{
   
    font-weight: bold;
    padding: 5px 20px;
    color: white;
    background-color: var(--MainColour);
    border-radius: 25px;
}

.accounts table thead th{
    padding: 5px 10px 5px 5px;
    color: white;
    background-color: var(--MainColour);
}

.accounts table td{
    padding: 2px 10px 2px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}




.accounts table td p span{
    margin-left:20px;
    color: var(--MainColour);
    font-weight: bold;
}

.accounts .accountInfo{
    font-size: 1.2rem;
    font-weight: bold;
}


.accounts .accountInfo span {
    font-size: 1rem;
    font-weight: bold;
    color: var(--MainColour);
}



tbody tr{
    border-bottom: 1px solid gray;
    
}

.accounts button{
    display: block;
    background-color: var(--MainColour);
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1rem;
    margin: 10px 0;
}

.accountManagement p{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 20px 0 5px 0;
  }

.accountManagement p span{
    color: var(--MainColour);
}



/* Deadline Management------------------------------ */
.deadlineManagement {
    height: fit-content;
}

.deadlineManagement div{
  margin: 10px 0;
}

.deadlineManagement p{
    font-weight: bold;
  }

.deadlineManagement p span{
    color: var(--MainColour);
}


.deadlineManagement h3{
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.3rem;
}
 
.deadlineManagement form{
    font-weight: bold;
}

hr{
    background-color: black;
}

.deadlineManagement form{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
  
.deadlineManagement form input{
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
}

.deadlineManagement form label{
    padding-right: 5px;
    
}

.deadlineManagement form button{
    display: block;
    background-color: var(--MainColour);
    padding: 7px 10px;
    text-align: center;
    color: white;
    border-radius:  0 5px 5px 0;

}

.deadlineManagement form button:hover{
   
    background-color: var(--MainColourHover);

}


/* Statistics------------------------------ */

.statistics{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.statistics h2{
    width: 100%;
    text-align: left;
}
 .statistics  h3{
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
}


.statistics .browsers{
    margin: 20px 0 20px 0;
    height: fit-content;
    gap: 20px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.statistics table{
    width: 400px;
    font-size: 0.9rem;
    border-collapse: collapse;
    margin: 10px 0;
    border-bottom: 2px solid var(--MainColour);
    background-color: white;
}


.statistics table thead{
   
    font-weight: bold;
    padding: 5px 20px;
    color: white;
    background-color: var(--MainColour);
    border-radius: 25px;
}

.statistics table thead th{
    padding: 5px 10px 5px 5px;
    color: white;
    background-color: var(--MainColour);
}

.statistics table td{
    padding: 2px 10px 2px 5px;
}

.statistics tbody tr{
    border-bottom: 1px solid gray;
}

canvas{
    width:300px;
    max-width:700px;
}







/* Mobile and tablet set up----------------------------- */


@media only screen and (max-width: 768px){


    .user img{
        height: 10px;
    }

    .wrapper{
        width: 100%;
    }


    .box{
        width: 100%;
        
    }

    .container{
        width: 100%;
        height: fit-content;
        margin-right: 20px;
    }

    .main .accountManagement{
        height: fit-content;
    }

    .main .deadlineManagement{
        height: fit-content;
    }

    .main .statistics{
        height: fit-content;
    }
  
    canvas{
        width: 100%;
    }

    .statistics table{
        width: 100%;
    }
    
    .statistics .tableContainer{
        width: 100%;
    }
    

}

@media only screen and (max-width: 600px){    
  

    nav .heading{
        font-size: 1rem;
    }

    .main nav{
        padding: 0;
    }

    header nav .heading{
        font-size: 1rem;
        white-space: wrap;
        width: 100px;
}

    .deadlineManagement{
        height: 500px;
    }

    .deadlineManagement form input{
        margin: 5px 0;
        padding: 5px 10px;
        border-radius: 5px;
    }
    

    
    .deadlineManagement form button{
        border-radius:  5px;
    
    }

    .statistics table{
        width: 100%;
    }
    
    .statistics .tableContainer{
        width: 100%;
    }
    

}