

body{
    background-color: rgba(94, 94, 94, 0.205);
}



/*Main----------------------------*/

.main{
    margin-top:60px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: calc(100vh - 30px);
    background-image: url(/storage/images/main_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    width: 1300px;
    padding: 10px;
}

.flexbox {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    
}


/*Create Account Form----------------------------*/

#createAccount{
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
    color: black;
    width: 600px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1rem;
    padding:25px;
}

#createAccount h1{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  width: 100%;
  margin-bottom: 5px;
}


.backButton{
    align-self: flex-start;
     display: block;
     background-color: var(--MainColour);
     color: white;
     border-radius: 3px;
     padding: 5px 10px;
     font-weight: bold;
     font-size: 1rem;
 }



 .accountContainer{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content:space-between;
    gap: 10px;
}

#createAccount .inputWrapper label{
    display: block;
}

#createAccount .inputWrapper{
    margin: 5px;
    width: 250px;
}

#createAccount input{
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
}

#createAccount button{
    display: block;
    background-color: var(--MainColour);
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    font-size: 1.3rem;
    width: 100%;
    margin: 10px 5px 5px 5px;
}

#createAccount button:hover{
    background-color: var(--MainColourHover); 
}

#createAccount select{
    width: 100%;
}



#createAccount select:invalid {
    color: gray;
}

p{
    margin: 5px 5px 5px 5px;
}




/* Mobile and tablet set up----------------------------- */


@media only screen and (max-width: 768px){

    nav .heading{
        font-size: 1.5rem;
    }

    .user img{
        height: 10px;
    }

    .wrapper{
        width: 100%;
    }


    

}

@media only screen and (max-width: 600px){    
  

    nav .heading{
        font-size: 1rem;
    }

    .main nav{
        padding: 0;
    }

    box{
        height: fit-content;
    }


    #createAccount .inputWrapper{
        width: 100%;
    }

    .main{
        height: 100vh; 
    }
}