

/*Main----------------------------*/

.main{
    background-image: url(/storage/images/main_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top:60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: (100vh - 60px);
    height: fit-content;
   
}


.wrapper {
    width: 700px;
    height: fit-content;
}


/*Navigation----------------------------*/

header nav p{
    font-size: 2rem;
   
}

header nav .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:fit-content;
    gap: 10px;
    height: 60px;
}

header nav .logo img{
    height: 90%;
}



/* Deadline--------------------------- */

.main .deadline{
  background-color: rgb(0, 0, 0, 0.7);
  width: 100%;
  padding: 20px;
  text-align: center;
  height: fit-content;
  
}


.main h2{
    font-size: 2.5rem;
}


/* Heading--------------------------- */
.main .heading{
    width: 100%;
    padding: 20px;
}

main .heading h2{
    font-size: 2.5rem;
    /* border-bottom: 2px solid var(--MainColour); */
}


.main .heading .addIdea{
    align-self: flex-start;
     display: block;
     background-color: var(--MainColour);
     color: white;
     border-radius: 3px;
     padding: 5px 10px;
     font-weight: bold;
     font-size: 1.3rem;
     width: fit-content;
 }


 .main .heading .addIdea:hover{
    background-color: var(--MainColourHover);
 }


 .main .heading{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-between;
    gap: 10px;
}

/* Ideas--------------------------- */
.main .ideas{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    float: left;
    width: 100%;
    padding: 20px;
}

.container{
    margin-bottom:20px;
}

.container p{
    align-self: flex-start;
    display: block;
    margin-bottom:5px;
}
.container select{
    padding: 3px 5px;
    background-color: white;
    color: black;
}


/* Idea--------------------------- */
.main .ideas .idea{
    display: block;
    background-color: white;
    width: 100%;
    margin: 10px 0 10px 0;
    color: black;
    padding: 10px;
    height: fit-content;
    position: relative;
}


.main .ideas .idea:hover{
    background-color: rgba(255, 255, 255, 0.8);
}


.main .idea .box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-between;
    gap: 10px;
    background-color: var(--MainColour);
    color: white;
    padding: 10px;
}

.main .idea .box h3{
    font-weight: bold;
    font-size: 1.3rem;
}

.main .idea .box p{
    font-weight: bold;
    font-size: 1.3rem;
}


.main .idea .content{
    font-size: 1.5rem;
    margin: 10px 0;
    max-height: 50px;
    font-weight: bold;
    overflow: hidden;
}


hr{
    height: 2px; 
    border-width: 0; color: gray; 
    background-color: gray;
}

.box2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    gap: 10px;
    font-weight: bolder;
    margin-bottom: 15px;
}




.statsContainer{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    min-width: 200px;
}

.statsContainer .stats{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-right:20px;
}

.statsContainer .stats img{
    height: 60%;
}

.statsContainer .stats:nth-last-child(1){
    height: 55%;
}



/* Comment--------------------------- */

.main .idea .comment{
    padding-top: 10px;
}


.main .idea .comment h3:nth-child(2){
    font-weight: bold;
    color: var(--MainColour);
}

.main .idea .comment p{
    max-height: 50px;
    overflow: hidden;
} 


/* Pagination--------------------------- */

.box3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    gap: 10px;
    font-weight: bolder;
    margin-bottom: 15px;
    padding:0 20px 0 20px;
}

.box3 a:hover{
    color: var(--MainColour);
}


/* Mobile and tablet set up----------------------------- */



@media only screen and (max-width: 768px){

    nav .heading{
        font-size: 1.5rem;
    }

    .user img{
        height: 10px;
    }

    .wrapper{
        width: 100%;
    }

    


    

}

@media only screen and (max-width: 600px){    
  

    nav .heading{
        font-size: 1rem;
    }

    .main nav{
        padding: 0;
    }


    .wrapper{
        width: 100%;
    }


    .createAccount .inputWrapper{
        width: 100%;
    }

    /* .main{

        min-height: calc(100vh - 60px);
        height: fit-content; 
    } */

    /* .main .heading .addIdea{
        bottom: 15px;
        right: 15px;
        padding: none;
        padding-top:10px;
        position: fixed;
         border-radius:100%;
         width: 70px;
         height: 70px;
         z-index: 100000;
         text-align: center;
        
     } */
    
}