/*Navigation----------------------------*/
header nav .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:fit-content;
    gap: 10px;
    height: 60px;
}

header nav p{
    font-size: 2rem;
}

header nav img {
    height: 100%;
}




/*MAIN--------------------------------*/

.main {
    background-image: url(/storage/images/main_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 60px;
}

.wrapper {
    width: 80%;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

/*Introduction----------------------------------------*/

.intro h1{

    font-weight: bolder;
    font-size: 4rem;
    padding-bottom: 10px;
    border-bottom: 10px solid var(--MainColour);
}


/*Sign In---------------------------------------------*/

.signIn {
    color: black;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    flex-wrap: wrap;
    width:360px;
    background-color: white;
    font-size: 1.4rem;
}

.signIn h2 {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 30px;
}

.signIn Input {
    margin: 5px 0 5px 0;
    padding: 10px 10px;
    width:100%;
}

.signIn Button{
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    font-weight: bolder;
    color: white;
    background-color: var(--MainColour);
    border-radius: 10px;
}

.signIn Button:hover{
    background-color: var(--MainColourHover);
}

.signIn a {
    display: block;
    text-align: center;
    width: 100%;
    margin: 10px auto;
    font-size: 1rem;
    font-weight: bold;
    color: var(--MainColour);
}

.signIn a:hover {
   color: var(--MainColourHover);
}

.signIn .errorMessage{
    color: red;
    font-size: 1rem;
}


/*Setting Up Mobile and tablet views--------------------------------------------*/

@media only screen and (max-width: 900px){

    .flexbox {
        flex-wrap: wrap;
    }

    .main .intro h1{
        font-size: 2.5rem;
        text-align: center;
    }

    .signIn {
        padding: 20px 30px;
    }
}

@media only screen and (max-width: 768px){

    header .logo p {
        font-size: 1.5rem;
    }

    .flexbox {
        flex-wrap: wrap;
    }

    .main .intro h1{
        text-align: center;
        font-size: 2rem;
    }

    .signIn {
        padding: 20px 30px;
    }


    nav{
        display: flex;
    }


}
     

@media only screen and (max-width: 600px){    
        .main .intro h1{
            text-align: center;
            font-size: 2rem;
        }
    
        .signIn {
            padding: 20px 30px;
        }




}

 
