/*Default Styling-------------------------------------------------*/

:root {
 --MainColour: rgb(2, 4, 129) ;
 --MainColourHover: #0305699f;
 font-size: 15px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


a {
    cursor: pointer;
}

form input{
    border: 1px solid var(--MainColour);
    border-radius: 10px;
}

form button{
    cursor: pointer;
}


/*Navigation----------------------------------------------------*/

header nav{
    position: fixed;
    top:0;
    z-index: 1000;
    width: 100%;
    background-color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px 0 30px;
    font-size: 1.5rem;
}

header nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header nav ul li {
    display: inline;
    align-self: flex-start;
    padding-left: 60px;
    white-space: nowrap;
}


header nav li a:hover{
    color: var(--MainColourHover);
}


.burgerMenu{
    display: none;
    cursor: pointer;
}

.burgerMenu .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}




/* Burger Menu Transition and Activation----------------------------------------- */

@media only screen and (max-width: 768px){

    
        /*Burger Menu---------------------*/

        .burgerMenu{
            display: block;
        }


        /* Animation---------------------------------- */
         .burgerMenu.active .bar:nth-child(2){
            opacity: 0;
        }

        .burgerMenu.active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }

        .burgerMenu.active .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        } 


        /* Menu Style--------------------------------------------- */

        nav ul{
            position: fixed;
            left: -100%;
            top: 70px;
            gap: 0;
            justify-content: flex-start;
            flex-direction: column;
            background-color: white;
            width: 100%;
            text-align: left;
            transition:  0.3s;
        }

        nav ul li{
            margin: 20px 0;
        }


        nav ul.active{
            left: 0;
        }

}
