body{
    background-color: rgba(94, 94, 94, 0.205);
}

/*Navigation----------------------------*/

header nav p{
    font-size: 2rem;
   
}

header nav .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:fit-content;
    height: 60px;
}

header nav .logo img{
    height: 90%;
}



/*Main----------------------------*/

.main{
    margin-top:60px;
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 800px;
    padding: 10px;
}

.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.box{
    background-color: white;
    width: 100%;
    margin: 10px;
    padding: 20px;
}

.box h2{
    font-size: 1.5rem;
    width: 100%;
    font-weight: bold;
    white-space: wrap;
    margin-bottom: 10px;
}

button{
     display: block;
     background-color: var(--MainColour);
     color: white;
     border-radius: 3px;
     padding: 5px 10px;
     font-weight: bold;
     font-size: 1rem;
     margin: 10px 0;
 }




 /* Update Category _____________________________*/

 .categories{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 20px;
  

 }

 .categories .categoryList p{
    font-weight: bold;
 }

 .categories .categoryList li{
    list-style-type: disc;
    margin-left:20px;
 }

 .categories .categoryList{
    margin: 10px 0;
    min-width: 200px;
 }

 .categories #updateCategory{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
 }

 .categories #updateCategory button{
   margin-top: 27px;
 }
#updateCategory .inputWrapper label{
    display: block;
}

#updateCategory .inputWrapper{
    width: 300px;
}

#updateCategory input[type="text"]{
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
}



table{
    width: 100%;
    font-size: 0.9rem;
    border-collapse: collapse;
    margin: 10px 0;
    border-bottom: 2px solid var(--MainColour);
    background-color: white;
}


table thead{
   
    font-weight: bold;
    padding: 5px 20px;
    color: white;
    background-color: var(--MainColour);
    border-radius: 25px;
}

table thead th{
    padding: 5px 10px 5px 5px;
    color: white;
    background-color: var(--MainColour);
}

table td{
    padding: 2px 10px 2px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

table td p span{
    margin-left:20px;
    color: var(--MainColour);
    font-weight: bold;
}



tbody tr{
    border-bottom: 1px solid gray;
    
}


 /* Ban Category ________________________________________*/

 .accountBan{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 20px;

 }

 
#ban input[type="text"]{
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
}


 .accountBan #ban{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
 }


.accountBan #ban{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
 }

input[type="checkbox"]{
    appearance: checkbox;
    margin-bottom: 10px;
}

.checkboxWrapper{
padding: 10px 0 0 5px;
align-self: center;
}
   

/* Mobile and tablet set up----------------------------- */


@media only screen and (max-width: 768px){

    nav .heading{
        font-size: 1.5rem;
    }

    .user img{
        height: 10px;
    }

    .wrapper{
        width: 100%;
    }


    .box{
        width: 100%;
        
    }

  

}

@media only screen and (max-width: 600px){    
    
    .wrapper{
        width: 100%;
    }

    nav .heading{
        font-size: 1rem;
    }

    .main nav{
        padding: 0;
    }

    .logo img{
        display: none;
    }
   
    .box{
        height: fit-content;
    }

    .categories #updateCategory button{
        margin-top: 10px;
    }

      #updateCategory .inputWrapper{
        width: 100%;
    }
    

    .statistics #myChart{
        width: 100%; 
        height: fit-content;
    }

    .statsTable table, .exceptions table{
        font-size: 0.9rem;
        white-space: wrap; 
        padding: 0;
    }

    .statsTable table th, .exceptions table th{
        font-size: 0.9rem;
        padding: 0;
    }
    
}
